# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
proj-init

# Test binary
*.test

# Go
vendor/
*.out
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Build
dist/
release/
